/* *** CUSTOM PROPERTIES *** */ 
:root{
 --text-color:#FF914D;
 --first-color:#FF914D;
 --text-hover-color: #f67423ce;
 --second-text-color:#252220;
 --second-color:#141312;
 --second-text-alpha-color: #1f1e1d9f;
 --white-color: rgb(255, 255, 255);
 --white-alpha-color: rgba(255, 255, 255, 0.5);
 --black-alpha-color: rgba(0, 0, 0, 0.5);
 --black-alpha-color-ps: rgba(0, 0, 0, 0.29);
 --font: "Raleway", sans-serif;
 --max-width:1200px;
 --header-heigth: 4rem;
}

/* *** RESET *** */ 
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}
a {
    color: var(--text-color);
    transition: all 0.5s ease-out;
}
  
a:hover {
    opacity: 0.75;
}
h1 {
    margin: 0;
    font-size: 2rem;
}
  
h2 {
    margin: 0;
    font-size: 1.5rem;
}
  
h3 {
    margin: 0;
    font-size: 1.25rem;
}
  
h4 {
    margin: 0;
    font-size: 1rem;
}
  
h5 {
    margin: 0;
    font-size: 0.85rem;
}
  
h6 {
    margin: 0;
    font-size: 0.7rem;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    line-height: 1.6;
}
/* *** COMPONENTS *** */ 
/* *** HERO IMAGE *** */
.hero-image{
    background-image: var(--image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-image-logo{
    max-width: 16rem;
    margin-bottom: 2rem;
}
.hero-image-opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black-alpha-color);
}
.hero-image-title{
    font-size: 1rem;
    margin: 1rem;
    color:var(--white-color);
}
@media screen and (min-width: 1024px){
    .hero-image-logo{
        max-width: 24rem;
    }
    .hero-image-title{
        font-size: 1.3rem;
        margin: 1rem;
        color:var(--white-color);
    }
}
/* *** MENU *** */
.name{
    display: none;
}
.menu-btn{
    outline: thin solid var(--second-color);
    border: 0;
    border-radius: .1rem;
    cursor: pointer;
    background-color: var(--first-color);
    margin-right: 1rem;
}
.menu-btn svg{
    fill: var(--second-color);
}
.menu{
    position: fixed;
    left: 0;
    bottom: var(--header-heigth);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
}
.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}
.menu a{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}
.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}
@media screen and (min-width: 1024px){
    .menu-btn{
        display: none;
    }
    .menu{
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .menu a{
        padding: 0 1rem;
        font-size: 1.1rem;
        font-weight: lighter;
    }
    .menu a:hover{
        background-color: transparent;
    }
}


/* *** UTILITIES *** */ 
.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn{
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
.none{
    display: none;
}
/* *** SITE STYLES *** */ 

.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-heigth);
    background-color:var(--second-color) ;
}
.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-magnum{
    max-height: var(--header-heigth);
}

/* *** Productos y servicios *** */
.services-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    min-height: 50vh;
}
.aside-pys{
    padding: 1.5rem 1.3rem;
}
.aside-pys h1, p{
    color: #141312;
    margin: 1.7rem auto;
}

.hero-image-fletes{
    background-image: var(--image-fletes);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-image-hidrogrua{
    background-image: var(--image-hidrogrua);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.servicios-opacity{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black-alpha-color-ps);
}
.servicios-opacity h2{
    font-size: 32px;
    font-weight: bold;
    color: var(--white-color);
}

@media screen and (min-widht: 768px){
    
}
@media screen and (min-width: 1024px){
    .header {
        position: sticky;
        top: 0;
        padding: .5rem;
        height: var(--header-heigth);    
      }
    .img-magnum{
        max-height: 3rem;
    }
    .name{
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--white-color);
        padding: 0;
        margin-left: .4rem;
    }
    .title{
        display: flex;
        align-items: center;
    }

    /* *** PRODUCTOS Y SERVICIOS *** */

    .services-products{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
        grid-template-areas: 
        "hidrogrua" "magnum" "fletes"
        ;
    }
    .hero-image-hidrogrua{
        grid-area: hidrogrua;
    }
    .aside-pys{
        grid-area: magnum;
    }
    .hero-image-flete{
        grid-area: fletes;
    }
    
}